@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0px;
  height: 50px;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

nav li {
  list-style: none;
  margin: 20px 40px 20px 0px;
  font-size: 20px;
}

nav li:last-child {
  margin-right: 0px;
}

nav a {
  color: black;
}

/*
  Front page
 */
#greeting {
  height: 480px;
  display: flex;
  align-items: flex-end;
}

h1 {
  font-size: 100px;
  color: #800913;
  margin-left: 80px;
  margin-bottom: 20px;
}

#logoBG {
  display: flex;
  justify-content: flex-end;
  background-color: #800913;
  width: 100%;
  height: 350px;
}

#logo {
  background-image: url("Assets/profile-pic.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 60px;
  width: 230px;
}

#logo:hover {
  background-image: url("Assets/logo.png");
}

#intro {
  display: flex;
}

.content h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #800913;
}

.content h3 {
  font-size: 25px;
}

.content h4 {
  font-size: 18px;
}

#bio {
  width: 60%;
}

#quick-links {
  margin-left: 80px;
  padding-left: 20px;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: #800913;
}

#quick-links div {
  margin-top: 60px;
  margin-bottom: 50px;
}

.content {
  padding-left: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#education {
  background-color: rgb(209,210,218);
}

.edu-block {
  width: 60%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.edu-block img {
  width: 100px;
  height: 100px;
  margin-right: 50px;
}

.edu-block p {
  margin-bottom: 0px;
}

#stars-logo {
  width: 100px;
  height: 50px;
}

.class-project-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.class-project-thumbnail {
  width: 250px;
  height: 140px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-color: white;
}

.class-project-thumbnail a {
  color: white;
}

#linked-list-playground {
  background-image: url("Assets/linked-list-playground.png");
}

#word-master {
  background-image: url("Assets/word-master.png");
}

#adapted-toy-inventory {
  background-image: url("Assets/adapted-toy-inventory.png");
}

#kickstarter {
  background-image: url("https://ksr-static.imgix.net/tq0sfld-kickstarter-logo-green.png?ixlib=rb-2.1.0&auto=compress%2Cformat&w=1000&fit=min&s=f00262bade8a51249b7d63c8f76ce47f");
}

.class-project-thumbnail .overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.class-project-thumbnail:hover .overlay {
  opacity: 0.8;
}

#experience {
  height: 500px;
  background-color: white;
}

.exp-block {
  display: flex;
}

.exp-description {
  width: 65%;
}

.exp-description h3 {
  margin-top: 20px;
}
/* ================ Ignore everything below =================== */
/*
  Options on front page
 */


#options {
  height: 500px;
  margin-top: 50px;
}

#options-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#options-container a {
  text-decoration: none;
}

.home h2 {

}

.option {
  width: 262px;
  height: 318px;
  border-color: #800913;
  border-width: 5px;
  border-style: solid;
  color: #800913;
  cursor: pointer;
}

.option h3 {
  text-align: center;
  margin-top: 66px;
  margin-bottom: 25px;
}

.option img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.option-selected {
  color: white;
  background-color: #800913;
}

.hidden {
  display: none;
}

#contact {
  height: 500px;
  background-color: purple;
}

.side-panel {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 0 5px 0 0;
  border-style: solid;
  border-color: #800913;
}

.side-panel img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side-panel h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

#art {
  height: 2800px;
  margin-left: 220px;
  color: #800913;
}

#art-container {
  margin-top: 70px;
}

#art h2 {
  font-size: 20px;
}

#art h3 {
  font-size: 16px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 200px;
}

.art-block {
  margin-bottom: 20px;
}
